
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll; 
}

body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
    padding: 0px;
    /*max-width: 1366px;*/
}

h1 {
    font-size: 34px;
    margin: 0px;
    color: #e86000;
}

h1:hover {
    color: #185ea6;
}

.t2 {
    font-size: 30px;
    padding: 0px;
    margin: 2px 0px 0px 0px;
    max-width: max-content;
    color: #185ea6;
    border-radius: 5px;
}

.t2:hover {
    color: #e86000;
}

.h2h3 {
    font-size: 30px;
    padding: 0px;
    margin: 2px 0px 0px 0px;
    max-width: max-content;
    color: #185ea6;
    border-radius: 5px;
}

h3:hover {
    color: #e86000;
}

h4 {
    color:  #e86000;
}

.meetUs {
    color: #e86000;
}

.azul {
    color: #185ea6;
}

.rojo {
    color: #e86000;
}

h3.meetUs:hover {
    color: #185ea6;
}

p {
    margin: 0px;
    padding: 0px;
    color: #585858;
}

.clase_p {
    margin: 0px;
    padding: 0px;
    color: #585858;
    font-size: 16px;
    font-weight: normal;
}

.underline-blog {
    font-weight: bold;
    text-decoration: underline;
}

.font-bold-grey {
    color: #585858;
    font-weight: bold;
    text-align: left;
}

.grid-container1 {
    display: grid;
    justify-items: normal;
    align-items: center;
    grid-template-areas: 'header1 menu1';
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;
    margin: 0.3% 0%;
    padding: 0;
 }

.item_1 {
    grid-area: header1;
    margin: 0;
}

.item_2 {
   grid-area: menu1;
   margin: 0;
   padding: 0;
}

.grid-container-nav {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 'navigator lupa';
    grid-template-rows: auto;
    grid-template-columns: 90% 10%;
    margin: auto;
    padding: 0;
  }
  
  picture {
      margin: auto;
  }

  .navigator {
    grid-area: navigator;
  }
  
  .lupa {
    grid-area: lupa;
  }  

.grid-container2 {
    display: grid;
    grid-template-areas: 'photo';
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: auto;
 }

.item_3 {
   grid-area: photo;
}

.grid-container3 {
    display: grid;
    grid-template-areas:
    'propuesta propuesta propuesta propuesta propuesta propuesta propuesta'
    'linea linea linea linea linea linea linea'
    '. logo1 texto1 . logo2 texto2 .'
    '. logo3 texto3 . logo4 texto4 .';
    grid-template-rows: 100px 20px 150px 150px;
    grid-template-columns: 8% 15% 25% 4% 15% 25% 8%;
    grid-auto-columns: auto;
    justify-items: normal;
    align-items: center;
}

.item_4 {
   grid-area: propuesta;
}

.item_5 {
   grid-area: linea;
}

.item_6 {
    grid-area: logo1;
    display: flex;
    justify-content: center;
    align-items: center;   
}
 
.item_7 {
    grid-area: texto1;
}

.item_8 {
    grid-area: logo2;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.item_9 {
    grid-area: texto2;
}

.item_10 {
    grid-area: logo3;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.item_11 {
    grid-area: texto3;
}

.item_12 {
    grid-area: logo4;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.item_13 {
    grid-area: texto4;
}

.grid-container4 {
    display: grid;
    grid-template-areas:
    ' linea1 linea1 texto5 linea2 linea2'
    'parrafo parrafo parrafo parrafo parrafo';
    grid-template-columns: 4% 34% 24% 34% 4%;
    grid-auto-columns: auto;
    justify-items: normal;
    align-items: center;
 }

 .item_14 {
    grid-area: linea1;
    place-self: center stretch;
 }

 .item_15 {
    grid-area: texto5;
    place-self: center center;
 }

 .item_16 {
    grid-area: linea2;
    place-self: center stretch;
 }

 .item_17 {
    grid-area: parrafo;
 }

 .grid-container5 {
    display: grid;
    grid-template-areas:
    ' linea1 linea1 texto5 linea2 linea2'
    'espacio espacio espacio espacio espacio';
    grid-template-columns: 4% 36% 20% 36% 4%;
    grid-auto-columns: auto;
    justify-items: normal;
    align-items: center;
 }

 .item_18 {
    grid-area: linea1;
    place-self: center stretch;
 }

 .item_19 {
    grid-area: texto5;
    place-self: center center;
 }

 .item_20 {
    grid-area: linea2;
    place-self: center stretch;
 }

 .item_21 {
    grid-area: espacio;
    place-self: center stretch;
 }

 .grid-container6 {
    display: grid;
    grid-template-areas:
    '. photo . texto6 .';
    grid-template-columns: 4% 42% 0% 50% 4%;
    grid-auto-columns: auto;
    justify-items: normal;
    align-items: center;
 }

 .item_22 {
    grid-area: photo;
    place-self: center stretch;
 }

 .item_23 {
    grid-area: texto6;
    place-self: center center;
 }

 .grid-container7 {
    display: grid;
    grid-template-areas:
    'logo_footer menu_footer social_media'
    'copy copy copy';
    grid-template-rows: auto;
    grid-template-columns: 22% 60% 18%;
 }

.item_24 {
    grid-area: logo_footer;
    place-self: center center;
}

.item_25 {
   grid-area: menu_footer;
   place-self: center center;
}

.item_26 {
    grid-area: social_media;
    place-self: center center;
}

.item_27 {
    grid-area: copy;
}

header {
    padding: 2.5% 4%;    
}

nav {
    margin: 0px 30px;
    display: flex;
    align-items: center;
}

nav ul {
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 2%;
    padding: 0px 10px
}

.item {
    font-size: 18px;
    color: #185ea6;
    font-weight: 600;
    text-decoration: none;
}

.item.activo {
    text-decoration: underline;
}

.container-5fuerzas {
    width: 495px;
    height: 495px;
    border: solid 1px  #185ea6;
    border-radius: 5%;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
    padding: 0px;
    background-image: url(../img/5FuerzasPorter.png);
    background-size: cover;
}

.container-photo {
    width: 100%;
    height: 674px;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/Chica-DLC.jpg);
    background-size: cover;
}

.section-container {
    padding: 4px;
    margin: 0.03%;
    background-image: url(../img/pattern.jpg);
    background-size: auto;
}

.container1 {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #185ea6;
}

.tenemos {
    font-size: 30px;
}

.proposal {
    color: #185ea6;
    margin: auto;
    text-align: center;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
}

.linea2 {
    margin: auto 2% auto 2%;
    padding: 0px;
    height: 3px;
    background-color: #33bfd2;
}

.spacer3 {
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    height: 3px;
    background-color: #33bfd2;
}

.servicios {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.nosotros {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.social-media-logo {
    width: 90px;
    height: 90px;
    background-image: url(../img/logo1.png);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.diseño-web-logo {
    width: 90px;
    height: 90px;
    background-image: url(../img/logo2.png);
    background-size: contain;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.publicidad-online-logo {
    width: 110px;
    height: 69px;
    background-image: url(../img/logo3.png);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.ecommerce-logo {
    width: 80px;
    height: 90px;
    background-image: url(../img/logo4.png);
    background-size: cover;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.servicio-text {
    margin: auto 0px;
    padding: 10px;
} 

.centrar {
    text-align: center;
}

.queremos-ayudarte-texto {
    max-width: 1200px;
    border: 1px solid transparent;
    text-align: center;
    margin: 0 0 0 30px;
    padding: 0;
}

.container-quienes-somos {
    margin: 5px 1% 5px 1%;
    padding: 0px;
    background-color: transparent;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33bfd2;
}

.linea_azul1 {
    margin: auto 2% auto 5%;
    padding: 0px;
    height: 3px;
    background-color: #33bfd2;
}

.linea_azul2 {
    margin: auto 5% auto 2%;
    padding: 0px;
    height: 3px;
    background-color: #33bfd2;
}

#id_6 {
    color: #185ea6; 
    margin: 0 auto 20px auto; 
    line-height: 40px; 
    font-size: 40px;
    padding: 0;
    text-align: center;
}

#id_7 {
    color: #185ea6; 
    margin: auto; 
    line-height: 60px; 
    font-size: 40px;
    text-align: center;
}

.container-conocenos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-photo-grupo {
    width: 450px;
    height: 299px;
    overflow: hidden;
}

.photo-grupo {
    width: 100%;
    height: 100%;
    transition: transform 600ms ease;
    background-image: url(../img/grupo.png);
    background-size: cover;
}

.big-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-footer {
    width: 100%;
    background-color: black;
}

.logo-footer {
    background-color: black;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.container-menu-footer {
    padding: 0px 0px 0px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.container-menu-footer ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 2%;
    margin: 0px;
    text-align: center;
}

.item1 {
    margin: 0px;
    margin-left: 0px;
    font-size: 12px;
    color: white;
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.item1.activo {
    text-decoration: underline;
}

.item1:hover {
    text-decoration: underline;
}

.container-footer-right {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item2 {
    margin: 0px;
    margin-left: 0px;
    font-size: 14px;
    color: white;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.no-underline {
    text-decoration: none;
}

.text-color {
    color: 716a6a;
}

.text-style {
    color: white;
    font-size: 36px;
    padding: 0px;
    margin-left: 15px;
}

.copy {
    color: white;
    height: 30px;
    font-size: 12px;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    background-color: black;
}

#nosotros {
    text-align: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1.5);
    }
    to {
        transform: rotate(360deg) scale(1.5);
    }
}

.main-formulario {
    height:570px;
}

.columna-left {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 0.625em;
    border-right: 1px solid red;
    height: 85%;
}
 
.columna-right {
    width: 50%;
    box-sizing: border-box;
    float: right;
    padding: 0.625em;
    height: 85%;
}

.formulario label {
    vertical-align: top;
    width: 100%;
    display: inline-block; 
}

.formulario input, .formulario textarea {
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 0.8em;
    padding:0.4em 0.6em;
    width: 100%;
    box-sizing: border-box;
}

.formulario textarea {
    height: 10em;
    resize: none;
}

.formulario input[type="submit"] {
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    padding: 0.4em 1em;
    width: auto;    
}

.formulario .acciones {
    text-align: left;
}

.columna-left p {
    font-size: 0.9em;
}

.columna-left ul li {
    font-size: 0.8em;
}

/* reglas CSS para formulario */
.form-consulta {
    max-width: 500px; 
    padding: 25px; 
    font-family: 'Source Sans Pro', sans-serif;
}

.campo-form {
    width:100%; 
    height:36px; margin:2px 0 6px; 
    padding-left:6px; 
    box-sizing: border-box; 
    border-radius:3px; border:0; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size:1em;
}

label span {
    color: #f00
}

textarea {
    min-height: 150px!important;
}

.btn-form {
    display: inline-block; 
    border:0; background: #000; 
    height: 46px; line-height: 46px; 
    padding: 0 20px; 
    border-radius: 6px; 
    color:#fff; text-decoration: none; 
    text-transform: uppercase; 
    letter-spacing: 1px
}

.btn-form:hover {
    background: #444
}

@media (min-width: 1025px) {
    .social-media-logo:hover {
        animation-name: rotate;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 100ms;
    }

    .publicidad-online-logo:hover {
        animation-name: rotate;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 100ms;
    }

    .ecommerce-logo:hover {
        animation-name: rotate;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 100ms;
    }

    .diseño-web-logo:hover {
        animation-name: rotate;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 100ms;
    }

    .photo-grupo:hover {
        transform: scale(2);
    }

    .ocultar {
        display: none !important;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1200px) {

    .grid-container-nav {
        justify-items: flex-start;
    }

    h1 {
        font-size: 22px;
    }

    .t2 {
        font-size: 20px;
    }

    h2h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 13px;
    }
    
    nav ul {
        display: block !important;
        margin-left: 22px;
    }

    nav ul li {
        display: block;
    } 

    .grid-container1 {   
        justify-items: center; 
        grid-template-columns: 100% 0%;
        padding-top: 25px;
    }

    .container-photo {
        max-width: 581px;
        max-height: 582px;
        display: block;
        margin: 15px auto 5px auto;
        padding: 20% 1% 1% 1% !important;
        background-image: url(../img/Chica.jpg);
    }

    .container-5fuerzas {
        max-width: 400px;
        max-height: 400px;
        display: block;
    }

    .grid-container3 {
        grid-template-columns: 6% 17% 25% 4% 17% 25% 6%;
    }

    .container-photo-grupo {
        width: 400px;
        height: 235px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .grid-container6 {
        grid-template-columns: 0.5% 49% 1% 49% 0.5%;
        justify-items: normal;
        align-items: center;
    }

    .font-bold-grey {
        font-size: 16px;
    }

    .grid-container7 {
        grid-template-areas:
        '. logo_footer .'
        '. menu_footer .'
        '. social_media .'
        '. copy .';
        grid-template-columns: 10% 80% 10%;
    }
    
     .container-footer-right {
         margin: auto;
    }
}

@media (max-width: 768px) {
        
    .header {
        max-width: 420px;
    }

    .logo_dc {
        max-width: 500px;
    }
    
    .grid-container3 {
        grid-template-areas:
        'propuesta propuesta propuesta propuesta'
        'linea linea linea linea'
        '. logo1 texto1 .'
        '. logo2 texto2 .'
        '. logo3 texto3 .'
        '. logo4 texto4 .';
        grid-template-columns: 6% 40% 48% 6%;
        grid-template-rows: auto;
        grid-row-gap: 10px;
    }

    .grid-container6 {
        grid-template-areas:
        '. photo .'
        '. texto6 .';
        grid-template-columns: 4% 92% 4%;
    }

    .container-photo-grupo {
        margin-bottom: 10px;
        width: 350px;
        height: 232px;
    }

    .container-menu-footer {
        display: none;
    }

    .altura {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin-top: 0; /* change this to whatever height you want it */
    }
    .main-formulario {
        height: initial !important;
    }
    .columna-left {
        float: none;
        clear: both;
        border-right: none;
        width: 100%;
        height: fit-content;
    }
    .columna-right {
        float: none;
        clear: both;
        border-right: none;
        width: 100%;
        height: fit-content;
    }
    .formulario {
        width: 100%;
    }
    .formulario input, .formulario label {
        padding:10px 0.6em;
    }
}

@media (max-width: 450px) {
        
    .header {
        max-width: 420px;
    }

    .logo_dc {
        max-width: 350px;
    }

    .container-photo {
        width: 300px;
        height: 582px;
        background-image: url(../img/Chica_Small.jpg);
    }

    .container-5fuerzas {
        max-width: 300px;
        max-height: 300px;
        display: block;
    }

    .container-photo-grupo {
        width: 250px;
        height: 165px;
        
    }
}

.containerX {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.containerY {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 16px;
}

.containerY--narrow {
    max-width: 960px;
  }

.left {
    float: left;
}
.right {
    float: right;
}

.logo_footer {
    margin: 10px 0px 0px 10px;
}

@media (max-width: 350px) {
        
    .container-photo-grupo {
        width: 220px;
        height: 146px;
    }
}

@media (max-width: 1025px) and (min-width: 1023px) {
    .logo_dc {
        width: 720px;
    }
}

@media (max-width: 1025px) and (min-width: 761px) {
    .containerY {
        padding-top: 40px;;
    }
}

@media (min-width: 1025px) {
    .ocultarBanner {
        display: none !important;
    }
}

.alinear {
    text-align: left;
}
@media (min-width: 1025px) {
    .alinear {
        text-align: justify !important;
    }
}
